:root {
    --mainBg: #282c39;
    --secondaryBg: #2f3444;
    --txtClr: #8d8f96;
}

html,
body {
    font-size: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.error-text {
    color: rgb(255 24 0);
}

.appWrapper {
    width: 100%;
    height: 100%;
    background-color: var(--mainBg);
    color: var(--txtClr);
    font-size: 2rem;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
}

/* Header Start */

header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex: 0 1 auto;
    /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

header span {
    align-self: center;
    color: whitesmoke;
    font-size: 5rem;
}

header input {
    align-self: center;
    padding: 1rem;
    width: 20%;
    border: none;
    outline: 0;
    color: var(--txtClr);
    background-color: var(--secondaryBg);
}

header img {
    width: 7rem;
    height: 7rem;
}

/* Header Done */

/* Home Main Start */
main {
    flex: 1 1 auto;
    background: var(--secondaryBg);
    padding: 5rem;
}

.movieList {
    display: flex;
    flex-wrap: wrap;
}

.movieList .movieCard {
    max-width: 25%;
    max-height: 20%;
    cursor: pointer;
    box-shadow: 2px 3px 12px rgb(0 0 0 / 40%);
}

.movieList .movieCard .innerWrapper {
    padding: 1rem;
    margin: 10px;
}

.movieList .movieCard img {
    width: 25rem;
    height: 30rem;
}

.movieList .movieCard span {
    display: block;
    padding: 0.5rem;
}

/* Home Main Done */

/* Login Main Start*/
.loginWrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

.loginWrapper .login {
    min-width: 20%;
    max-height: 50%;
    padding: 5rem;
    box-shadow: 2px 3px 12px rgb(0 0 0 / 40%);
    background: #373e51;
}

.loginWrapper .login .field {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginWrapper .login .field h1 {
    align-self: center;
}

.loginWrapper .login .field span {
    margin-top: 1rem;
}

.loginWrapper .login .field input {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
}

.loginWrapper .field button {
    border: none;
    padding: 1rem;
    width: 50%;
}

/* Login Main End*/
/* movieDetail Main Start*/
.movieDetailWrapper {
    padding: 5rem;
}

.movieDetailWrapper .innerWrapper {
    display: flex;
    width: 100%;
    box-shadow: 2px 3px 12px rgb(0 0 0 / 40%);
}

.movieDetailWrapper .innerWrapper .poster {
    width: 100%;
    padding: 2rem;
}

.movieDetailWrapper .innerWrapper .poster img {
    width: 100%;
}

.movieDetailWrapper .relatedMovies .relatedList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.movieDetailWrapper .relatedMovies .relatedList .poster {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.movieDetailWrapper .relatedMovies .relatedList .poster img {
    width: 150px;
}

.movieDetailWrapper .innerWrapper .movieDetails {
    padding: 2rem;
}

.movieDetailWrapper .innerWrapper .movieDetails span,
p {
    display: block;
    padding: 1rem;
    text-align: justify;
}

.movieDetailWrapper .innerWrapper .movieDetails button {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* movieDetail Main end*/
/* createMovie Main start*/
.createMovieWrapper {
    min-width: 20%;
    max-height: 100%;
    padding: 5rem;
    box-shadow: 2px 3px 12px rgb(0 0 0 / 40%);
    background: #373e51;
    display: flex;
    justify-content: center;
}
.createMovieWrapper .innerWrapper {
    padding: 5rem;
    display: flex;
    width: 90%;
    box-shadow: 2px 3px 12px rgb(0 0 0 / 40%);
}

.createMovieWrapper .innerWrapper .field {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.createMovieWrapper .innerWrapper .field h1 {
    align-self: center;
}

.createMovieWrapper .innerWrapper .field span {
    margin-top: 1rem;
}

.createMovieWrapper .innerWrapper .field input {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
}

.createMovieWrapper .innerWrapper .field button {
    border: none;
    padding: 1rem;
    width: 50%;
}
.createMovieWrapper .innerWrapper .preview {
    display: flex;
    padding: 2rem 30rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.createMovieWrapper .innerWrapper .preview img,
video {
    width: 40rem;
    padding: 1rem;
    margin: 0;
}
/* movieDetail Main end*/

/* toast Main start*/
.toastContainer {
    position: fixed;
    cursor: pointer;
    padding: 1rem;
    left: 100%;
    top: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(67, 74, 97);
    box-shadow: rgb(0 0 0 / 40%) 2px 3px 12px;
    min-width: 362px;
    min-height: 40px;
    max-width: 460px;
    max-height: 90px;
    text-align: left;
}
.toastContainer span {
    align-self: center;
}
.activate {
    transform: translateX(calc(-100% - 50px));
    transition: 0.4s ease-in;
}

.createMovieButton {
    background: #242834;
    left: 50%;
    border: 1px solid #8d8f96;
    color: white;
    padding: 1rem 4rem;
    cursor: pointer;
}

/* toast Main end*/
